@import "tailwindcss";

@theme{
    --color-primary: #1814F3;
    --color-primary-dark: #000000;
}

.TransactionTable th{
    border-bottom: 0.1rem solid rgb(221, 221, 221);
    padding: 1rem;
}

.Table-heading{
    color:gray;   
    padding-left: 2rem;
    text-align: left;
    font-weight:normal
}

.Table-Datas{
    padding: 1rem;
}

.TrendingStock th{
    font-weight: normal;
}